<div class="container">
<h5 class="teal-text text-lighten-1">Admin Panel</h5>
<div class="divider">

</div>
<div class="section">

<h5>Total Sales:<span class="green-text text-accent-4"> <%= ActiveSupport::NumberHelper.number_to_currency(@totalsales) %></span></h5>
</div>
<ul class="collapsible popout" data-collapsible="accordion" style="text-align: center">
  <li>
    <div class="collapsible-header center-align blue-grey lighten-4" style="padding-top: 1px"><h5>Active Orders</h5></div>
    <div class="collapsible-body">
      <div class="row">
      <% @activeorders.each do |itemorder| %>
      <% time_elapsed = ((Time.now - itemorder.created_at)/60).round %>
      <% background_color ="blue-grey darken-4" %>
      <% if (time_elapsed > 17 ) %>
      <% background_color = "red darken-3" %>
      <% elsif (time_elapsed >= 10) %>
      <% background_color = "orange darken-3"%>
      <% elsif (time_elapsed >= 5) %>
      <% background_color = "orange lighten-3"%>
      <% end %>
          <div class="col s12 m6 l4">
            <div class="card-panel <%=background_color%>" data-time="<%=time_elapsed%>" data-active="<%=itemorder.is_active%>">
              <div class="card-content grey-text text-lighten-3">
                <div class="row ordertime">
                <div class="col s4">
                <strong>Check # <%= itemorder.party_id %></strong>        </div>
                <div class="col s8 right-align">
                  <p><%= ((Time.now - itemorder.created_at)/60).round %> min</p>
                </div>
                  <div class="col s8">
                    <h5><%= itemorder.fooditem.name %></h5>
                  </div>
                  <div class="col s4">
                    <h5>x  <%= itemorder.quantity%></5>
                  </div>
                  <div class="col s12 ">
                    <p>Request: <%= itemorder.special_request%></p>
                  </div>
                  <div class="col s12 right-align">
                    <br>
                    <form action="/itemorders/<%= itemorder.id %>" method="post">
                      <input type="hidden" name="_method" value="put">
                      <input type="hidden" name="itemorder[id]" value="<%= itemorder.id %>">
                      <input type="hidden" name="itemorder[is_active]" value="false">
                      <input type="submit" value="Clear" class="grey-text text-lighten-3 btn">
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <% end %>
      </div>


      <ul class="collapsible popout center-align" data-collapsible="accordion">
         <li>
           <div class="collapsible-header">  <h5 class="teal-text text-lighten-1">Inactive Orders</h5>
           </div>
           <div class="collapsible-body">

      <div class="row">
      </div>
      <table class="bordered s10">
              <thead>
                <tr>
                    <th data-field="Table#">Order ID</th>
                    <th data-field="Table#">Party ID</th>
                    <th data-field="Table#">Food Item</th>
                    <th data-field="Table#">Quantity</th>
                </tr>
              </thead>

              <tbody>
              <% @inactiveorders.each do |itemorder| %>
                <% time_elapsed = ((Time.now - itemorder.created_at)/60).round %>

                <tr class="ordertime" data-time="<%=time_elapsed%>" data-active="<%=itemorder.is_active%>">
                  <td><a href="/itemorders/<%= itemorder.id %>">
      <%= itemorder.id %> </a></td>
                  <td>
                  <%= itemorder.party_id %></td>
                  <td>
                    <%= itemorder.fooditem.name %>
                </td>
                  <td>
                    <%= itemorder.quantity %>
                  </td>
                </tr>
                <% end %>
              </tbody>
      </table>

      </div>
      </li>
      </ul>
</div>
</li>
</ul>

<br>
<ul class="collapsible popout" data-collapsible="accordion" style="text-align: center">
  <li>
    <div class="collapsible-header center-align blue-grey lighten-4" style="padding-top: 1px"><h5>Manage Menu</h5></div>
    <div class="collapsible-body">
      <div class="section">
        <div class="row">
          <div class="col s12">
            <form action="/fooditems/new" method="get">
              <input type="submit" value="Create New Menu Item" class="btn">
            </form>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#drinks">Drinks</a></li>
              <li class="tab col s3"><a href="#appetizers">Apps</a></li>
              <li class="tab col s3"><a class="active" href="#entrees">Entrees</a></li>
              <li class="tab col s3"><a href="#sides">Sides</a></li>
              <li class="tab col s3"><a href="#desserts">Desserts</a></li>
            </ul>
          </div>
        </div>



      <div id="appetizers">
      <div class="row">
              <% @fooditems.each do |fooditem| %>
              <% if (fooditem.available == false)%>
              <% unavailable = "style='border: red 4px solid'"%>
              <%end%>
              <% if (fooditem.course == "Appetizer") %>
              <div class="col s12 m6 l6">
                <div class="card-panel  blue-grey darken-4 hoverable"  <%=unavailable%>>
                  <div class="card-content blue-text text-darken-2">
                    <div class="row">
                      <div class="col s9">
                        <h5 class="blue-grey-text text-lighten-5"> <%= fooditem.name %> </h5>
                      </div>
                      <div class="col s3">
                      <h5 class="green-text text-accent-3">   <%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price)%> </h5>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col s3">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="false">
                        <input type="submit" value="86" class="btn-floating btn-large">
                      </form>
                    </div>
                    <div class="col s5">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="true">
                        <input type="submit" value="Avail" class="btn-floating btn-large">
                      </form>
                    </div>
                  <div class="col s3">
                    <form action="/fooditems/<%= fooditem.id %>/edit" method="get">
                      <input type="submit" value="Edit" class="btn-floating btn-large">
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>

                <% end %>
              <%end%>

      </div>
      </div>

      <div id="entrees">
      <div class="row">
            <% @fooditems.each do |fooditem| %>
            <% if (fooditem.available == false)%>
            <% unavailable = "style='border: red 4px solid'"%>
            <%end%>
            <% if (fooditem.course == "Entree") %>
            <div class="col s12 m6 l6">
              <div class="card-panel  blue-grey darken-4 hoverable"  <%=unavailable%>>
                <div class="card-content blue-text text-darken-2">
                  <div class="row">
                    <div class="col s9">
                      <h5 class="blue-grey-text text-lighten-5"> <%= fooditem.name %> </h5>
                    </div>
                    <div class="col s3">
                    <h5 class="green-text text-accent-3">   <%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price)%> </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="false">
                        <input type="submit" value="86" class="btn-floating btn-large">
                      </form>
                    </div>
                    <div class="col s5">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="true">
                        <input type="submit" value="Avail" class="btn-floating btn-large">
                      </form>
                    </div>
                  <div class="col s3">
                    <form action="/fooditems/<%= fooditem.id %>/edit" method="get">
                      <input type="submit" value="Edit" class="btn-floating btn-large">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <% end %>
            <%end%>

      </div>
      </div>

      <div id="sides">
      <div class="row">
            <% @fooditems.each do |fooditem| %>
            <% if (fooditem.available == false)%>
            <% unavailable = "style='border: red 4px solid'"%>
            <%end%>
            <% if (fooditem.course == "Sides") %>
            <div class="col s12 m6 l6">
              <div class="card-panel  blue-grey darken-4 hoverable"  <%=unavailable%>>
                <div class="card-content blue-text text-darken-2">
                  <div class="row">
                    <div class="col s9">
                      <h5 class="blue-grey lighten-5"> <h5 class="blue-grey-text text-lighten-5"> <%= fooditem.name %> </h5> </h5>
                    </div>
                    <div class="col s3">
                    <h5 class="green-text text-accent-3">   <%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price)%> </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="false">
                        <input type="submit" value="86" class="btn-floating btn-large">
                      </form>
                    </div>
                    <div class="col s5">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="true">
                        <input type="submit" value="Avail" class="btn-floating btn-large">
                      </form>
                    </div>
                  <div class="col s3">
                    <form action="/fooditems/<%= fooditem.id %>/edit" method="get">
                      <input type="submit" value="Edit" class="btn-floating btn-large">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <% end %>
            <%end%>

      </div>
      </div>

      <div id="drinks">
      <div class="row">
            <% @fooditems.each do |fooditem| %>
            <% if (fooditem.available == false)%>
            <% unavailable = "style='border: red 4px solid'"%>
            <%end%>
            <% if (fooditem.course == "Drink") %>
            <div class="col s12 m6 l6">
              <div class="card-panel  blue-grey darken-4 hoverable"  <%=unavailable%>>
                <div class="card-content blue-text text-darken-2">
                  <div class="row">
                    <div class="col s9">
                      <h5 class="blue-grey lighten-5"> <h5 class="blue-grey-text text-lighten-5"> <%= fooditem.name %> </h5> </h5>
                    </div>
                    <div class="col s3">
                    <h5 class="green-text text-accent-3">   <%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price)%> </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="false">
                        <input type="submit" value="86" class="btn-floating btn-large">
                      </form>
                    </div>
                    <div class="col s5">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="true">
                        <input type="submit" value="Avail" class="btn-floating btn-large">
                      </form>
                    </div>
                  <div class="col s3">
                    <form action="/fooditems/<%= fooditem.id %>/edit" method="get">
                      <input type="submit" value="Edit" class="btn-floating btn-large">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <% end %>
            <%end%>

      </div>
      </div>

      <div id="desserts">
      <div class="row">
            <% @fooditems.each do |fooditem| %>
            <% if (fooditem.available == false)%>
            <% unavailable = "style='border: red 4px solid'"%>
            <%end%>
            <% if (fooditem.course == "Dessert") %>
            <div class="col s12 m6 l6">
              <div class="card-panel  blue-grey darken-4 hoverable"  <%=unavailable%>>
                <div class="card-content blue-text text-darken-2">
                  <div class="row">
                    <div class="col s9">
                      <h5 class="blue-grey-text text-lighten-5"> <%= fooditem.name %> </h5>
                    </div>
                    <div class="col s3">
                    <h5 class="green-text text-accent-3">   <%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price)%> </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="false">
                        <input type="submit" value="86" class="btn-floating btn-large">
                      </form>
                    </div>
                    <div class="col s5">
                      <form action="/fooditems/<%= fooditem.id %>" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" name="fooditem[available]" value="true">
                        <input type="submit" value="Avail" class="btn-floating btn-large">
                      </form>
                    </div>
                  <div class="col s3">
                    <form action="/fooditems/<%= fooditem.id %>/edit" method="get">
                      <input type="submit" value="Edit" class="btn-floating btn-large">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <% end %>
            <%end%>

      </div>
      </div>

    </div>
  </li>
</ul>





<div class="section">
  <ul class="collapsible popout" data-collapsible="accordion" style="text-align: center">
      <li>
        <div class="collapsible-header center-align blue-grey lighten-4" style="padding-top: 1px"><h5>Manage Tables</h5></div>
        <div class="collapsible-body">
          <br>
  <div class="row">
    <div class="col s12">
      <form action="/restaurant_tables/new" method="get">
        <input type="submit" value="Create New Table" class="btn">
      </form>
    </div>
  </div>

  <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Active Tables</div>
        <div class="collapsible-body"><table class="bordered hoverable responsive-table">
                <thead>
                  <tr>
                      <th data-field="Table#">Table Number</th>
                      <th data-field="Table#">Current Check Number</th>
                      <th data-field="Table#">Table Location</th>
                      <th data-field="Table#">Shape</th>
                      <th data-field="Table#">Seated</th>
                  </tr>
                </thead>

                <tbody>
                <% @seatedtables.each do |table| %>
                  <tr>
                    <td><a href="/restaurant_tables/<%= table.id %>">
        <%= table.id %> </a></td>
                    <td>
                    <%= table.party_id %></td>
                    <td><%= table.table_location %></td>
                    <td><%= table.shape %></td>
                    <td><%= table.is_occupied %></td>
                  </tr>
                  <% end %>
                </tbody>
        </table>
      </div>
      </li>
      <li>
        <div class="collapsible-header">Open Tables</div>
        <div class="collapsible-body">  <table class="bordered hoverable responsive-table">
                  <thead>
                    <tr>
                      <th data-field="Table#">Table Number</th>
                      <th data-field="Table#">Current Check Number</th>
                      <th data-field="Table#">Table Location</th>
                      <th data-field="Table#">Shape</th>
                      <th data-field="Table#">Seated</th>
                    </tr>
                  </thead>

                  <tbody>
                  <% @emptytables.each do |table| %>
                    <tr>
                      <td>
          <%= table.id %></td>
                      <td>
                      <%= table.party_id %></td>
                      <td><%= table.table_location %></td>
                      <td><%= table.shape %></td>
                      <td><%= table.is_occupied  %></td>
                    <% end %>
                  </tbody>
          </table>
  </div>
      </li>
    </ul>


</div>
</li>
</ul>
  </div>

</div>
