
<div class="container fooditems">

<h5 class="teal-text text-lighten-1">Menu Items</h5>

<table class="bordered hoverable responsive-table">
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="name">Name</th>
              <th data-field="spice_level">Spiciness</th>
              <th data-field="price">Price</th>
              <th data-field="description">Description</th>
              <th data-field="course">Course</th>
              <th data-field="description">86</th>
              <th data-field="description">Make Available</th>

          </tr>
        </thead>

        <tbody>
        <% @fooditems.each do |fooditem| %>
          <tr>
            <td><%= fooditem.id %></td>
            <td><a href="/fooditems/<%= fooditem.id %>">
            <%= fooditem.name %></a></td>
            <td><%= fooditem.spice_level %></td>
            <td><%= ActiveSupport::NumberHelper.number_to_currency(fooditem.price) %></td>
            <td><%= fooditem.description %></td>
            <td><%= fooditem.course %></td>

            <td>
              <form class="" action="/fooditems/<%= fooditem.id %>" method="post">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="fooditem[available]" value="false">
                <input type="submit" value="86">
                <%= fooditem.available %>
              </form>

            </td>
            <td>
              <form class="" action="/fooditems/<%= fooditem.id %>" method="post">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="fooditem[available]" value="true">
                <input type="submit" value="Available">
              </form>
            </td>

          </tr>
          <% end %>
        </tbody>
</table>

</div>
