<div class="container">

<br /><br/>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#bar">Bar</a></li>
        <li class="tab col s3"><a class="active" href="#main_dining_room">Main Dining Room</a></li>
        <li class="tab col s3"><a href="#outside">Outside</a></li>
      </ul>
    </div>

  </div>


<div id="main_dining_room">
<% @maintables.each do |table| %>

<% if (table.is_occupied == false) %>

  <form action="/parties" method="post" class="<%=table.shape%> center-align">
    <input type="hidden" name="party[restaurant_table_id]" value ="<%= table.id %>">
    <input type="hidden" name="party[bill]" value=0>
    <input type="hidden" name="party[paid_bill]" value=false>
    <input type="hidden" name="restaurant_table[is_occupied]" value=true>
    <input type="hidden" name="table_id" value="<%= table.id %>">
    <input type="submit" value="<%= table.id %>" class="table-input">
    </form>


  <% elsif (table.is_occupied == true) %>
  <form action="/itemorders/new" method="get" class="<%=table.shape%> center-align occupied">
    <input type="submit" value="<%= table.id %>" class="table-input" >
    </form>
  <%end%>
<% end %>
  </div>

  <div id="bar">
  <% @bartables.each do |table| %>

  <% if (table.is_occupied == false) %>

    <form action="/parties" method="post" class="<%=table.shape%> center-align">
      <input type="hidden" name="party[restaurant_table_id]" value ="<%= table.id %>">
      <input type="hidden" name="party[bill]" value=0>
      <input type="hidden" name="party[paid_bill]" value=false>
      <input type="hidden" name="restaurant_table[is_occupied]" value=true>
      <input type="hidden" name="table_id" value="<%= table.id %>">
      <input type="submit" value="<%= table.id %>" class="table-input">
      </form>


    <% elsif (table.is_occupied == true) %>
    <form action="/itemorders/new" method="get" class="<%=table.shape%> center-align occupied">
      <input type="submit" value="<%= table.id %>" class="table-input" >
      </form>
    <%end%>
  <% end %>
    </div>


<div id="outside">
  <% @outsidetables.each do |table| %>

  <% if (table.is_occupied == false) %>

    <form action="/parties" method="post" class="<%=table.shape%> center-align">
      <input type="hidden" name="party[restaurant_table_id]" value ="<%= table.id %>">
      <input type="hidden" name="party[bill]" value=0>
      <input type="hidden" name="party[paid_bill]" value=false>
      <input type="hidden" name="restaurant_table[is_occupied]" value=true>
      <input type="hidden" name="table_id" value="<%= table.id %>">
      <input type="submit" value="<%= table.id %>" class="table-input">
      </form>


    <% elsif (table.is_occupied == true) %>
    <form action="/itemorders/new" method="get" class="<%=table.shape%> center-align occupied">
      <input type="submit" value="<%= table.id %>" class="table-input" >
      </form>
    <%end%>
  <% end %>
  </div>



</div>
