<h3>Edit <%=@itemorder.fooditem.name%></h3>

<form action="/itemorders/<%= @itemorder.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="itemorder[party_id]" value="<%= @itemorder.party_id %>">


<div class="row">
   <div class="input-field col s3">

   <input type="text" name="itemorder[quantity]" value="<%=@itemorder.quantity%>" id="quantity">
   <label for="quantity">Quantity</label>

 </div>
 <div class="input-field col s3">
   <input type="text" name="itemorder[special_request]" value="<%=@itemorder.special_request%>" id="special_request">
   <label for="quantity">Special Request</label>
 </div>
</div>

  <input type="submit">
</form>
