<div class="container">
  <h3>Create a New Order</h3>

  <form action="/itemorders" method="post">

    <% @parties.each do |party| %>
    <div class="row">
    <input type="checkbox" name="party_id" value="<%= party.id %>" id ="<%= party.id %>"  />
    <label for="<%= party.id %>"><%= party.table_id %></label>
    </div>
      <% end %>

    <% @fooditems.each do |fooditem| %>
    <input type="checkbox" name="fooditems[]" value="<%= fooditem.id %>" id="<%= fooditem.id %>">
    <label for="<%= fooditem.id %>"><%= fooditem.name %></label>
    <% end %>

    <input type="submit" value="Order">

  </form>


</div>
