<div class="container">

  <form action="/itemorders" method="post">
    <br><br>
    <div class="row">
      <h5 class="center-align">Select a Table</h5>
    </div>
    <div class="row">
    <% @parties.each do |party| %>
    <% if (party.paid_bill == false) %>
      <div class="col s2">
        <input type="radio" name="party_id" value="<%= party.id %>" id ="<%= party.id %>"  />
        <label for="<%= party.id %>"><%= party.restaurant_table_id %></label>
      </div>
      <%end%>
    <% end %>
    </div>

    <div class="row">
      <h5 class="center-align">Select Food Items</h5>
    </div>

      <% @fooditems.each do |fooditem| %>
      <div class="row">
        <div class="col s6">
          <input type="checkbox" name="fooditems[]" value="<%= fooditem.id %>" id="<%= fooditem.id %>">
        <label for="<%= fooditem.id %>"><%= fooditem.name %></label>
        </div>
    </div>
    <% end %>

      <input type="submit" value="Order">

    </form>

</div>
